body, form {
    padding: 0px;
    margin: 0px;
}

#search {
    position: fixed;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #000;
}

#results {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
}

.product {
    width: 150px;
    margin: 8px;
}

.product img {
    width: 150px;
}